{% extends "base.html" %}

{% load pagination %}

{% load permission_tags %}

{% block content %}
{% if user|can:'create_module' %}
<h3>Criar:</h3>
<p>
    <a class="btn btn-default btn-sm" href="{% url "simplemooc:createCourse" %}" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Curso</a>

    <a class="btn btn-default btn-sm" href="{% url "simplemooc:createCategory" %}" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Categoria</a>

    <a class="btn btn-default btn-sm" href="{% url "simplemooc:createModule" %}" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Módulo</a>

    <a class="btn btn-default btn-sm" href="{% url "simplemooc:createTeacher" %}" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Professor</a>
</p>
{% endif %}
<h2>Lista de Cursos</h2>
{% for course in courses %}
<h3><a href="{% url 'simplemooc:detail' course.slug %}">{{ course }}</a></h3>
<p><i>{{ course.description|linebreaks  }}</i></p>
<p><strong>Categoria: </strong><a href="{% url 'simplemooc:category' course.category.slug %}">{{ course.category}}</a><br>
        <strong>Início: </strong>{{ course.begin_course }}<br>
        <strong>Fim: </strong>{{ course.end_course }}
</p>
<p>
    {% if user|has_role:'student, systemAdmin'%}
    <a href="#"">Inscrever-se</a> |
    {% endif %}
    <a href="{% url "simplemooc:updateCourse" course.slug %}">Editar</a> |
    <a href="{% url "simplemooc:deleteCourse" course.slug %}">Remover</a>
</p>
{% if user|has_role:'teacher' %}
<h4>Alunos Inscritos</h4>
<ul>
    <li>{{  }}</li>
</ul>
{% endif%}

{% endfor %}

{% pagination request paginator page_obj %}

{% endblock%}
